* {
  font-family: "Graphik LC TT", sans-serif;
}

.m-a {
  margin: auto;
}

.mb-20 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-160 {
  margin-bottom: 160px;
}

.w-280 {
  width: 280px;
}

.w-380 {
  width: 380px;
}

.w-510 {
  width: 510px;
}

.a-s-c {
  align-self: center;
}

.a-s-s {
  align-self: start;
}

.df {
  display: flex;
}

.dfc {
  flex-direction: column;
}

.p-0 {
  padding: 0 !important;
}
