* {
  font-family: "Graphik LC TT", sans-serif;
}

.m-a {
  margin: auto;
}

.mb-20 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-70 {
  margin-bottom: 50px;
}

.mb-140 {
  margin-bottom: 140px;
}
