.error-page-layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-status {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
}

.error-message {
  font-size: 20px;
  line-height: 20px;
}
