// primary
$primary-100: #25B56A;
$primary-80: #2ECD7A;
$primary-20: #EEFBF4;

//neutral
$neutral-100: #000;
$neutral-90: #1E1E1E;
$neutral-80: #484848;
$neutral-40: #999;
$neutral-20: #CCC;
$neutral-10: #EDEEF3;
$neutral-5: #F7F8FC;
$neutral-0: #fff;

//error
$error-100: #F26763;

//shadow
$default-shadow: 0px 4px 8px rgba(35, 34, 45, 0.12);

$border-radius: 2px;
$transition: all 100ms ease-in-out;

//text
$regular: 13px;
$header-text: 20px;
